# Python and virtual environment files
venv/
.env
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Streamlit cache
.streamlit/

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Dependency directories
lib/
lib/site-packages/  # Exclude installed packages
Scripts/  # Exclude virtualenv scripts (Windows)
share/    # Exclude shared Python data files

# Logs and databases
*.log
*.sqlite